---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>From exploring our world, to <strong>exploring distant worlds and stars and in our galaxy.</strong></h1>
<h2>The natural human hunger for exploration and how it impacts what we know in our galaxy.</h2>
<img alt="pine" src="/images/pine.png" width="50" />
{% user 'Luke Rokop Publishing' 'lrokoppublishing' %}